.queue-page {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: transparent;
  transform: translateY(-5%);
  width: 100vw;
  height: 100vh;
}

.dashboard-padding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.dashboard-placeholder-card {
  min-width: 70rem;
  width: fit-content;
  border-radius: 5rem;

  /* Glass Surface Styles */
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px) saturate(1.8) brightness(1.2);
  -webkit-backdrop-filter: blur(12px) saturate(1.8) brightness(1.2);
  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow:
    0 0 2px 1px light-dark(color-mix(in oklch, black, transparent 85%),
      color-mix(in oklch, white, transparent 65%)) inset,
    0 0 10px 4px light-dark(color-mix(in oklch, black, transparent 90%),
      color-mix(in oklch, white, transparent 85%)) inset,
    0px 4px 16px rgba(17, 17, 26, 0.05),
    0px 8px 24px rgba(17, 17, 26, 0.05),
    0px 16px 56px rgba(17, 17, 26, 0.05),
    0px 4px 16px rgba(17, 17, 26, 0.05) inset,
    0px 8px 24px rgba(17, 17, 26, 0.05) inset,
    0px 16px 56px rgba(17, 17, 26, 0.05) inset;
}

.dashboard-title {
  font-size: 3rem;
}